@page "/shop"
@layout ShoppingListLayout
@using BlazzorOverview.Data
<PageTitle>@title</PageTitle>
<h3>ShoppingList</h3>

<EditForm Model="@grocery" OnSubmit="AddGrocery">
    <DataAnnotationsValidator/>
    <ValidationSummary />
    <p>
        <label>
            Name : 
            <InputText class="form-control" @bind-Value="grocery.Name" />
        </label>
    </p>
    <p>
        <label>
            Price :
            <InputNumber class="form-control" @bind-Value="grocery.Price" />
        </label>
    </p>
    <button class="btn btn-success" type="submit">Add Grocery</button>

</EditForm>
<hr />
<h5>The total is : (@sum)</h5>
<table class="table table-striped">
    <tr class="bg-primary text-white">
        <th>Name</th>
        <th>Price</th>
        <th>Action</th>
    </tr>
    @foreach(var grocery in groceries){
    
        //using the item component that we created to display an actual shopping list item
        // we will also attach a handler of OnGroceryPriceIncreased to the method we use to handle that
        <Item GroceryItem="@grocery" OnGroceryPriceIncreased="OnGroceryPriceIncreased" />
    }
</table>


@code {
    private string GroceryName ;
    private string title = "Our groceries";
    private float sum = 0;
    private float GroceryPrice;
    private Grocery grocery = new();
    private List<Grocery> groceries = new();
    private void AddGrocery()
    {
        groceries.Add(grocery);
        grocery = new();
        UpdateTotalAmount();


    }
    // adding the method to update the total amount
    public void UpdateTotalAmount()
    {
        sum = groceries.Sum(x => x.Price);

    }

    // making OnGroceryPriceIncreased method
    public void OnGroceryPriceIncreased()
    {
        UpdateTotalAmount();
    }

}
